PROJECT_NAME=FASTAPI BASE

PRODUCTION=FALSE
SERVER_PORT=8080
SECRET_KEY=w5fmy0c_on(5+$2ado9wtwb^gaf!mil%bt@8l$#qdbj!q
WORKER=1

DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432